
/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body{
    background: url("img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39, 0.6), transparent);
    z-index: 100;
}

.nav-menu ul{
    display: flex;
}

.nav-menu ul li{
    list-style-type: none;
}

.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}

.link:hover, .active{
    border-bottom: 2px solid #fff;
}

/* Picture Row */
.picture-row {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: 100px; /* Adjust as needed */
}

.picture-row::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.picture-row img {
    width: 200px; /* Adjust image width */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Adjust spacing */
}

/* Video Row */
.video-row {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin-top: 50px; /* Adjust as needed */
}

.video-row::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.video-row iframe {
    width: 420px; /* Adjust video width */
    height: 315px; /* Adjust video height */
    margin-right: 10px; /* Adjust spacing */
}



.marquee-container img {
    width: 200px; /* Adjust image width */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Adjust spacing */
}

/* Add this style to your existing CSS file */

.marquee-container {
    overflow: hidden;
    margin-top: 100px; /* Adjust as needed */
}

.marquee-image {
    width: 100px; /* Adjust image width */
    height: auto; /* Maintain aspect ratio */
}


